:root{
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(./images/bg-intro-desktop.png);
    background-color: var(--Red);
    justify-content: center;
    gap: 80px;
}
.textContainer{
    color: #ffffff;
    width:498px;
}

.textTitle{
    margin: 0 10px 0 0;
    font-size: 50px;
    font-weight: 600;
}
.textParagraph{
    
}
.formContainer{
    width: 460px;
}

.formTitle{
    background-color: var(--Blue);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 6px 0px 0px rgba(0,0,0,0.16);
    border-radius: 6px;
    font-weight: 200;
}
.formTitle span{
    font-weight: 500;
}
.registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 6px 0px 0px rgba(0,0,0,0.16);
    border-radius: 6px;
    height: 438px;
}
.input1{
    
    width: 374px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid var(--Grayish-Blue);
    padding-left: 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.input{
    width: 374px;
    
    height: 50px;
    border-radius: 6px;
    border: 1px solid var(--Grayish-Blue);
    padding-left: 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.input::placeholder, .input1::placeholder{
    font-weight: 500;
}
.input:focus, .input1:focus{
    outline: none;
    border: 1px solid var(--Blue);
}
.btn{
    width: 374px;
    height: 50px;
    box-shadow: 0px 6px 0px 0px rgba(0,0,0,0.16);
    border-radius: 6px;
    border: none;
    background-color: var(--Green);
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover{
    background-color: hsl(154, 84%, 66%);
}
.terms{
    font-size: 10px;
    text-align: center;
    color: var(--Grayish-Blue);
    margin: 20px 0 0;
}
.terms span{
    color: var(--Red);
    font-weight: 600;
    
}


.redd::-webkit-input-placeholder{
    color: var(--Red);
}



.divs{
    height: 70px;
}
.div1{
    margin-top: 40px;
}




.icon {
    background: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 30px;
    width: 30px;
    display: none;
    position: relative;
    top: 38px;
    left: 320px;
}
.error{
    display: none;
    color: var(--Red);
    font-size: x-small;
    margin: 6px 0 0;
    text-align:right;
    width: 370px;
    font-style: italic;
}
    
